button{
   width: 250px;
   height: 80px;
   font-family: Roboto,sans-serif;
   font-weight: bold;
   font-size: 35px;
   color: rgb(3, 12, 9);
   border:2px solid white;
   border-radius: 15px;
   margin: 5px;
   cursor: pointer;
}

button:hover{
  background-color: chartreuse;
}

.boton-clic{
  background-color: aquamarine;

}

.boton-reiniciar{
  background-color: cadetblue;
}